* {
    font-family:'Times New Roman', Times, serif;
    color: white;
    background-color: black;
}


.header {
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.img-div {
    text-align: center;
    font-size: 40px;
    width: 95%;
    margin: 5px auto;
    
}

.img-div>.image {
    display: block;
    margin: 20px auto;
    width: 60%;
    max-width: 100%;
    height: auto;
}

.img-div>.img-caption {
    width: 59%;
    margin: 5px auto;
    padding-bottom: 20px;
}

.tribute-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tribute-info>h3 {
    margin: 50px 0 20px 0;
}

span {
    font-weight: bold;
}

.tribute-info>div>ul>li {
    width: 45%;
    margin: 20px auto;
    line-height: 30px;
}

q {
    margin: 20px 0 0 0;
}


a {
    cursor: pointer;
    color: rgb(108, 137, 223);
}
.header>h1 {
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 0 5px #888;
    border-radius: 10px;
  }